<header class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a *ngIf="isUserlogin" routerLink="/forum" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img class="rounded-circle me-1" src="{{getUser().avatar}}" alt="Avatar" width="30"/> <span style="color:orange">{{getUser().username}}</span>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a routerLink="/forum" class="nav-link px-3 text-white">Forum</a></li>
                <li *ngIf="isUserlogin"><a routerLink="/myPost" class="nav-link px-2 text-white">My Post</a></li>
                <li><a href="#" class="nav-link px-3 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-3 text-white">About</a></li>
                <li *ngIf="isUserlogin&&isAdmin" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Management</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/category-management">Category</a></li>
                      <li><a class="dropdown-item" routerLink="/tag-management">Tag</a></li>
                      <li><a class="dropdown-item" routerLink="/post-management">Post</a></li>
                    </ul>
                  </li>
            </ul>

            <div class="text-end">
                <button *ngIf="!isUserlogin" routerLink="/signin" type="button" class="btn btn-outline-light me-4"><i class="fa fa-sign-in me-2"
                        aria-hidden="true"></i>Sign-in</button>
                <button *ngIf="!isUserlogin" routerLink="/signup" type="button" class="btn btn-warning me-4"><i class="fa fa-user-plus me-2"
                        aria-hidden="true"></i>Sign-up</button>
                <button style="width: 170px;" *ngIf="isUserlogin" (click)="onSignOut()" routerLink="/signin" type="button" class="btn btn-danger me-4"><i class="fa fa-sign-out me-2"
                        aria-hidden="true"></i>Sign-out</button>
            </div>
        </div>
    </div>
</header>

<router-outlet></router-outlet>

<footer>
    <div class="mt-4 p-5 bg-dark text-white rounded">
        <h1>Nguyen Le Hong Tham &copy; 4/2023</h1>
        <p>0377014122 - 1951052184tham@ou.edu.vn - Ho Chi Minh City Open University</p>
      </div>
</footer>