.fm-create-search{
    width: 80%;
    margin: 20px auto;
}

.fm-create-search > div:nth-child(1){
    text-align: center;
}

.fm-create-search > div:nth-child(1) a{
    padding: 8px 50px;
    text-decoration: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    position: sticky;
    top: 50%;
}

.fm-create-search > div:nth-child(2) input{
    width: 80%;
}

.posts{
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.fa-trash-o{
    color: darkred;
}

.fa-info-circle{
    color: darkgreen
}

.modal-footer button{
    width: 60% !important;
}

.fa-pencil-square-o{
    color: darkblue;
}